{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
{% if object %}
チーム名「{{ object.team_name }}」の編集
{% else %}
scrim募集の新規作成
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-light p-3 p-sm-5 mb-4 ">
    <div class="container my-3" style="max-width:700px;">
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <label>{{ form.team_name.label }}</label>
                {{ form.team_name | add_class:'form-control col-2' }}
            </div>
            <div class="form-group">
                <label>{{ form.start_at.label }}</label>
                {{ form.start_at | add_class:'form-control col-2' }}
            </div>
            <label>{{ form.average_rank.label }}</label>
            <div>
                {% for i in form.average_rank %}
                {% comment %} <div class="form-check form-check-inline"> {% endcomment %}
                    {{ i.tag }}
                    {% comment %} <input type="checkbox" class="btn-check" id="{{ i.id_for_label }}"> {% endcomment %}
                    <label class="btn btn-outline-danger" for="{{ i.id_for_label }}">{{ i.choice_label }}</label>
                    {% comment %} </div> {% endcomment %}
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ form.map.label }}</label>
                {{ form.map | add_class:'form-control col-2' }}
            </div>
            <div class="form-group">
                <label>{{ form.comment.label }}</label>
                {{ form.comment | add_class:'form-control col-2' }}
            </div>
            <button class="form-control btn btn-danger" type="submit">送信</button>
        </form>
    </div>
</div>
{% endblock %}